.user-container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

#aside{
    background-color: #03045e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}