#aside{
    display: flex;
    height: 100vh;
}

.tabs{
    background-color: #03045e;
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100vh;
}

.tab-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-top: -15em;
}

.tab-nav h2{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    margin-top: 1em;
    cursor: pointer;
    transition: all 0.7s;
}
.tab-nav h2:hover {
  background: rgba(50, 224, 196, 0.15);
}
.tab-nav h2.active {
  background: #ff9e00;
  border-radius: 5px;
  padding: 10px 1em;
}

.tab-outlet{
    width: 85%;
}

.user-container, .exams-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 1em;
}

.user-container > table {
    text-align: left;
}

#action{
   display: flex;
   justify-content: space-between;
}

#delete-btn, #edit-btn{
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 1em;
    font-weight: 600;
    border-radius: 8px;
}

#delete-btn{
    background-color: #E91818;
    color: #ffffff;
}

#edit-btn{
    background-color: #ff9e00;
    color: #03045e;
}

.user-container > h1, .exams-container > h1{
    color: #03045e;
    font-size: 30px;
    margin-top: -8px;
}

#tr{
    color: #03045e;
    font-weight: 600;
}

.exams-container input{
    border: none;
    outline: none;
    background-color: #D9D9D9;
    color: #03045e;
    font-weight: 600;
    font-size: 15px;
    padding: 10px;
}

.exams-container input::placeholder{
    color: #03045e;
}

.exams-container form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1em;
}

.exams-container label{
    color: #03045e;
    font-weight: 600;
    font-size: 20px;
}

#input{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    height: 150px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 1em;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-top: 1em;
}

#label{
    margin-top: 1em;
}

#exambtn{
    border: none;
    outline: none;
    background-color: #ff9e00;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 1em;
    border-radius: 5px;
}
