header, #hero, #about{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 1em;
}

header{
  align-items: center;
}

#logo1{
  width: 12%;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.link{
  text-decoration: none;
  color: #03045e;
  font-size: 15px;
  font-weight: 700;
}

#contact{
  background-color: #ff9e00;
  color: #fff;
  padding: 1em 2em;
}

#hero > article > h2, #about > article > h2{
  font-size: 30px;
}

#about > article > h2 {
  color: #ff9e00;
}

#hero > article > h2{
  color: #03045e;
  width: 50%;
  margin-top: 2.5em;
}

#hero > article > p{
  color: #03045e;
  font-size: 18px;
  width: 50%;
  margin-top: 2em;
}

#hero > article > button{
  background-color: #ff9e00;
  color: #03045e;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 18px;
  width: 40%;
  margin-top: 3em;
  padding-top: 10px;
  padding-bottom: 10px;
}

#hero > img {
  width: 40%;
}

#about{
  background-color: #03045e;
  padding: 3em 3em 0 3em;
}

#about > img {
  width: 50%;
}

#about > article{
  width: 35%;
}

#about > article > p{
  color: #fff;
  width: 70%;
  font-size: 15px;
  font-weight: 600;
}

.register-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 100vh;
}

.registration, .register-left{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100vh;
}

.registration{
  padding: 4em 3em;
}

.registration > h2 {
  text-transform: capitalize;
  font-size: 35px;
  color: #03045e;
}

fieldset{
  margin-top: 2em;
  border: 2px solid #03045e;
}

legend{
  color: #03045e;
  font-weight: 500;
  font-size: 15px;
}

input{
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  height: 30px;
  font-size: 15px;
}

input::placeholder{
  font-size: 15px;
  color: #505181;
}

.register-btn, .login-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  outline: none;
  width: 100%;
  margin: auto;
  margin-top: 3em;
  padding: 1em;
  font-size: 15px;
  font-weight: bold;
}

.register-btn{
  background-color: #ff9e00;
  color: #03045e;
}

.login-btn{
  background-color: #E91818;
  ;
  color: #fff;
}

.register-left{
  background-color: #03045e;
  padding: 1em;
}

#logo{
  width: 20%;
  align-self: flex-end;
  margin-right: 2em;
  margin-top: 3em;
}

#image{
  width: 80%;
  margin: auto;
}

.enquiry{
  color: #03045e;
  text-align: center;
  margin-top: 2em;
  font-weight: bold;
  font-size: 15px;
}

.enquiry > a {
  text-decoration: none;
  color: #ff9e00;
}

.identity{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#image1{
  width: 70%;
  margin: auto;
  align-self: center;
}

.verifyp{
  color: #ff9e00;
  font-weight: bold;
  font-size: 15px;
}