.register-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 100vh;
}

.registration, .register-left{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100vh;
}

.registration{
  padding: 4em 3em;
}

.registration > h2 {
  text-transform: capitalize;
  font-size: 35px;
  color: #03045e;
}

.registration fieldset{
  margin-top: 2em;
  border: 2px solid #03045e;
}

.registration legend{
  color: #03045e;
  font-weight: 500;
  font-size: 15px;
}

.registration input{
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  margin: auto;
  height: 30px;
  font-size: 15px;
}

.registration input::placeholder{
  font-size: 15px;
  color: #505181;
}

.register-btn, .login-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  width: 100%;
  margin: auto;
  margin-top: 3em;
  padding: 1em;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.register-btn{
  background-color: #ff9e00;
  color: #03045e;
}

.login-btn{
  background-color: #E91818;
  ;
  color: #fff;
}

.register-left{
  background-color: #03045e;
  padding: 1em;
}

#logo{
  width: 100%;
}

#image{
  width: 80%;
  margin: auto;
}

.enquiry{
  color: #03045e;
  text-align: center;
  margin-top: 2em;
  font-weight: bold;
  font-size: 15px;
}

.enquiry > a {
  text-decoration: none;
  color: #ff9e00;
}

.identity{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#image1{
  width: 70%;
  margin: auto;
  align-self: center;
}

.verifyp{
  color: #ff9e00;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}

footer{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-top: 5em;
  background-color: #03045e;
  padding: 2em 2em 1em 2em;
}

.foot-top{
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 1em;
}

#logo2{
  width: 50%;
}

.icons{
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-top: 1em;
}

.icons img{
  width: 20%;
}

#link1{
  background-color: #ff9e00;
  color: #03045e;
  padding: 1em;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

.foot-top-left > p {
  font-size: 10px;
}

.foot-bottom{
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 4em;
  font-size: 12px;
  font-weight: 600;
}

.foot-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.link1{
  text-decoration: none;
  color: #fff;
}